<div *ngFor='let post of posts' class="card m-1">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{post.date | date:'fullDate'}}</h6>
        <a *ngFor='let tag of post.tags' routerLink="/blog/{{tag}}" class="badge badge-light mr-1">{{tag}}</a>
        <p [innerHTML]='(post.content | slice:0:400) + " . . ."' ></p>
        <a routerLink="/post/{{post._id}}" class="btn btn-primary btn-sm">Read More</a>
    </div>
</div>